/* App */

.data-visualizer-app {
    height: 100%;
    background-color: var(--colors-grey100);
    overflow: hidden;
}
.data-visualizer-app * {
    outline: none;
}

body {
    font-family: 'Roboto', sans-serif;
}

/* Flex */

.flex-ct {
    display: flex;
}

.flex-dir-col {
    flex-direction: column;
}

.flex-grow-1 {
    flex-grow: 1;
}

.flex-basis-0 {
    flex-basis: 0%;
}

/* Headerbar */

.section-headerbar {
    height: 48px;
}

/* Toolbar */

.section-toolbar {
    height: 39px;
}

.toolbar-type {
    width: 260px;
    border-right: 1px solid var(--colors-grey300);
    border-bottom: 1px solid var(--colors-grey400);
}

.toolbar-menubar {
    background-color: var(--colors-grey400);
}

/* Main */
.section-main {
    overflow: hidden;
}

.main-left {
    min-width: 260px;
    border-right: 1px solid var(--colors-grey400);
}

.main-right {
    flex: 1 1 0%;
    max-width: 380px;
    background-color: var(--colors-grey200);
    border-left: 1px solid var(--colors-grey400);
    overflow-y: auto;
    overflow-x: hidden;
}

/* Main center */

.main-center-canvas {
    display: flex;
    justify-content: center;
    height: 100%;
    overflow: hidden;
    position: relative;
}
